.header{
    position: absolute;
    top: 0;
    height:$header-height;
    width:100%;
    background-color: $primary-color;
    color:$white;
    padding:10px;
    text-align: center;

    h1 {
        margin-bottom: 0px;
        color: $white;
    }

    h3 {
        margin-top: 5px;
        color:$color3;
    }
}
